<ion-header>

  <ion-navbar >
    <ion-title>设备 ({{sumNumOPen}}/{{sumNum}})</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <div class="cate_content">
    <div class="cate_left">
      <ion-list class="my-list">
        <ion-item *ngFor="let item of typeDataList" (tap)="getRightCateData(item['F_ID'])" 
          [ngClass]="{'item-selected': item['F_ID']==typeID}" >
          <ion-badge color='danger' *ngIf="stateData[item['F_ID']]">{{stateData[item['F_ID']]}}</ion-badge>

          <div class="start"  [ngClass]="item['F_Color']"  >
            <img
            src='../assets/img/home/icon-devicesetting/{{item.F_Img}}'></div>
          <!-- <img src='../assets/img/home/icon-devicesetting/{{item.F_Img}}'> -->
          <h3>{{item.F_Name}}</h3>

        </ion-item>
      </ion-list>
    </div>

    <div class="cate_right">
      <ion-list class="device-list">
        <ion-item *ngFor="let item of deviceDataListShow">
          <ion-label>
            <div class="label">
              <div>
                {{item.F_Name}}
                <p><span class="biaoqian" >{{item.F_FloorName+'/'+item.F_RoomName}}</span></p>
              </div>
              <div class="label-right">
                <button ion-button clear small float-right *ngIf="item.F_ShowSetting"
                  (click)="goSetting(item)">{{item.F_SettingName}}</button>
              </div>
            </div>

          </ion-label>
          <ion-toggle [(ngModel)]="stateData1[item.F_ID]" *ngIf="item.F_ShowButton" [disabled]="auto"
            (ngModelChange)="setDeviceState(item.F_ID,item.F_Name,stateData[item.F_ID])"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>


  </div>
</ion-content>