<ion-header>

  <ion-navbar color='primary'>
    <ion-title>设备 ({{sumNumOPen}}/{{sumNum}})</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list class="my-list">
    <button ion-item *ngFor="let item of typeDataList" (tap)="goRoomDevice(item['F_ID'],item.F_Name)">
      <div item-start class="start" [ngClass]="item['F_Color']"><img
          src='../assets/img/home/icon-devicesetting/{{item.F_Img}}'></div>

      <h2>{{item.F_Name}}
        <p float-right class="state">{{stateData[item['F_ID']]}}/{{item.F_DeviceNum}}</p>

      </h2>


      <!-- <ion-icon name="arrow-forward" item-end></ion-icon> -->

    </button>
  </ion-list>
  <!-- 
  <div class="cate_content">
    <div class="cate_left">
      <ion-list>
        <ion-item *ngFor="let item of typeDataList" (tap)="getRightCateData(item['F_ID'])"
          [ngClass]="{'item-selected': item['F_ID']==typeID}">
          <img src='../assets/img/home/icon-devicesetting/{{item.F_Img}}'>
          <p>{{item.F_Name}}</p>

        </ion-item>
      </ion-list>
    </div>

    <div class="cate_right">
      <ion-list class="device-list">
        <ion-item *ngFor="let item of deviceDataListShow" [ngClass]="{'device-open': stateData[item.F_ID]==1}">
          <ion-label>
            <div class="label">
              <div>
                {{item.F_Name}}
                <p><span class="biaoqian" [ngClass]="item.F_Color">{{item.F_FloorName+'/'+item.F_RoomName}}</span></p>
              </div>
              <div class="label-right">
                <button ion-button clear small float-right *ngIf="item.F_ShowSetting"
                  (click)="goSetting(item)">{{item.F_SettingName}}</button>
              </div>
            </div>

          </ion-label>
          <ion-toggle [(ngModel)]="stateData[item.F_ID]" *ngIf="item.F_ShowButton" [disabled]="auto"
            (ngModelChange)="setDeviceState(item.F_ID,item.F_Name,stateData[item.F_ID])"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>


  </div> -->
</ion-content>