page-message {
  .message-title {
    background-color: red;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    color: white;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 23px;
    font-weight: bold;
  }

  .message-item-content-div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
