<!--
  Generated template for the EnergyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>{{{true:'用电',false:'用水'}[energyType==eleType]| translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-footer no-border>

  <ion-toolbar transparent *ngIf="!type.water">
    <ion-segment [(ngModel)]="energyType" color="primary" (ionChange)="energyTypeChange()">
      <ion-segment-button value={{eleType}} [disabled]='type.ele'>
        <ion-icon name="flash"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value={{waterType}}>
        <ion-icon name="water"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>

<ion-content>
  <my-title [name]="{true:'总用电趋势图',false:'总用水趋势图'}[energyType==eleType] | translate"></my-title>
  <canvas id="chart" style="width:100%"></canvas>
  <div [ngSwitch]="energyType">
    <div *ngSwitchCase="eleType">
      <div *ngFor="let type of eleShowList">
        <my-title [name]="config.chinese?type.name:type.name_en"></my-title>
        <div *ngIf="type.type=='column'">
          <ul class='jinxian-ul' *ngFor="let device of type.data">
            <li *ngFor="let detail of device.data"><span>{{config.chinese?detail.F_Name:detail.F_Name_En}}</span><span>{{detail.value}}</span></li>

          </ul>
        </div>
        <div *ngIf="type.type=='row'">
          <!-- <ul class='jinxian-ul' *ngFor="let device of type.data">
                  <li *ngFor="let detail of device.data"><span>{{detail.F_Name}}</span><span>{{detail.value}}</span></li>
                 
                </ul> -->
          <ion-grid class="self-grid">
            <!-- <ion-row class="first-row">
                    <ion-col col-4>名称</ion-col>
                    <ion-col>空调</ion-col>
                    <ion-col>水泵</ion-col>
                    <ion-col>电梯</ion-col>
                  </ion-row> -->
            <ion-row *ngFor="let device of type.data">
              <ion-col col-4>
                {{config.chinese?device.name:device.name_en}}
              </ion-col>
              <ion-col *ngFor="let detail of device.data">
                <span *ngIf="detail.F_FnID">{{detail.value}}</span>
                <span *ngIf="!detail.F_FnID">
                {{config.chinese?detail.F_Name:detail.F_Name_En}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </div>
    </div>
    <div *ngSwitchCase="waterType">
      <div *ngFor="let type of eleShowList">
        <my-title [name]="config.chinese?type.name:type.name_en"></my-title>

        <div *ngIf="type.type=='row'">
          <!-- <ul class='jinxian-ul' *ngFor="let device of type.data">
                <li *ngFor="let detail of device.data"><span>{{detail.F_Name}}</span><span>{{detail.value}}</span></li>
               
              </ul> -->
          <ion-grid class="self-grid">
            <!-- <ion-row class="first-row">
                  <ion-col col-4>名称</ion-col>
                  <ion-col>空调</ion-col>
                  <ion-col>水泵</ion-col>
                  <ion-col>电梯</ion-col>
                </ion-row> -->
            <ion-row *ngFor="let device of type.data">
              <ion-col col-4>{{config.chinese?device.name:device.name_en}}</ion-col>
              <ion-col *ngFor="let detail of device.data">
                <span *ngIf="detail.F_FnID">{{detail.value}}</span>
                <span *ngIf="!detail.F_FnID">{{config.chinese?detail.F_Name:detail.F_Name_En}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </div>
    </div>
  </div>
  <div style="margin-bottom:30px"></div>
</ion-content>
