<!--
  Generated template for the ModeSettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{config.chinese? mode.F_Name:mode.F_Name_En}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentShowModal()">
        <ion-icon name='list'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-list> -->
  <ion-item>
    <ion-label>{{'报警系统'|translate}}</ion-label>
    <ion-toggle [(ngModel)]="alarm"></ion-toggle>
  </ion-item>
  <!-- </ion-list> -->
  <ion-list class="device-list">
    <ion-item-group *ngFor="let item of dataList">
      <ion-item-divider sticky>
        <ion-label>
          {{config.chinese?item.name:item.name_en}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let device of item.data">
        <!-- <ng-container > -->
        <ion-item *ngIf="device.Control">
          <div item-start class="start" [ngClass]="{true:device.DeviceColor,false:'unopen'}[device.Open]">
            <img src='../assets/img/home/icon-devicesetting/{{device.Img}}'></div>
          <ion-label>
            <div class="label">
              <div>
          {{config.chinese?device.DeviceName:device.DeviceName_En}}

                <p><span>
          {{config.chinese?device.FloorName:device.FloorName_En}}
          /
          {{config.chinese?device.RoomName:device.RoomName_En}}</span></p>
              </div>
            </div>

          </ion-label>
          <ion-toggle [(ngModel)]="device.Open"></ion-toggle>
          <!-- {{config.chinese?device.DeviceName:device.DeviceName_En}} -->

        </ion-item>

        <!-- </ng-container> -->
      </ion-item-sliding>

    </ion-item-group>
  </ion-list>

</ion-content>
<ion-footer>
  <button ion-button block color='primary' no-margin (click)="saveMode()">{{'保存'|translate}}</button>
</ion-footer>